body {
  /* box-sizing: border-box; */
  min-width: 320px;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;  
}

body,
.log,
.search-log {
  background: #c0c0c0;
}

li,
.result {
  background: #e8e8e8;
}

form,
.results {
  max-width: 320px;
  margin: 0 auto;
}

nav,
header,
h2 {
  text-align: center;
  margin: 3px 0;
}

nav {
  padding: 3px 0;
}

nav li {
  display: inline;
  padding: 0 3px;
  border: 1px solid black;
}

nav a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  line-height: 1.2em;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

label {
  display: inline-block;
}

img {
  display: block;
  width: 90%;
  margin: auto;
}

form,
.log {
  text-align: right;
}

.log,
.search-log {
  margin: 3px 3px;
}

.mission {
  padding: 3px 0;
}
.log,
.search-log {
  padding-bottom: 1px;
}

label[for=".select-version"],
label[for=".select-os"] {
  margin-left: 30px;
}

.user-input {
  width: 170px;
  margin: 1px 3px;
}
.select-version,
.select-os {
  width: 173px;
}
.title {
  width: 169px;
}

.select-version,
.select-os,
.title {
  margin: 1px 6px 1px 3px;
}

#search-text {
  width: 132px;
}

.txt-log-entry {
  width: 309px;
  height: 90px;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
}

.buttons-mission,
.buttons-log {
  text-align: center; 
}

#btn-login,
#btn-signup,
#btn-new-mission,
#btn-search,
#btn-profile,
#btn-delete-profile {
  display: block;
  margin: 3px auto;
}

.hidden {
  display: none;
}
