@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  box-sizing: border-box;
  min-width: 320px;
  margin: auto;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 0.8em;
  background: #1976D2;
  color: #FFFFFF;
}

nav,
h1,
h2,
h3,
.buttons-log,
.buttons-mission,
.links,
.version-search {
  text-align: center;
}

h1,
h2,
h3,
p {
  line-height: 1.2em;
}

h1 {
  font-size: 2.6em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  margin: 10px;
  font-size: 1.6em;
}

h1,
h2,
nav ul {
  margin: 15px 0;
}

nav li {
  display: inline;
  padding: 6px 11px;
  background: #BBDEFB;
}

nav a {
  text-decoration: none;
}

a {
  color: #212121;
  text-decoration: none;
}

a:hover {
  color: #03A9F4;
}

a:visited {
  color: #1976D2;
}

.thumbnail {
  display: block;
  width: 80%;
  max-width: 580px;
  margin: auto;
}

label {
  display: block;
}

form,
.results,
.result,
.btn-mission-title,
.btn {
  width: 296px;
}

.primary-inputs,
.results {
  margin: 15px auto;
}

form {
  margin: 0 auto;
}

.log {
  margin: 0 3px;
}

.mission,
.log,
.version-mission,
.version-search {
  padding: 3px 0;
}

.user-input,
.select-version,
.select-os,
.title,
.search-text {
  width: 169px;
}

.user-input,
.select-version,
.select-os,
.title,
.search-text {
  margin: 1px 3px;
  font-family: inherit;
  border: none;
}

.txt-log-entry {
  display: block;
  width: 280px;
  height: 90px;
  margin: 3px;
  font-family: inherit;
  font-size: 1em;
  border: none;
}

.buttons-mission,
.btn-save-mission,
.version-mission,
.version-search {
  width: 290px;
}

.buttons-mission {  
  margin: 0 auto;
  padding-bottom: 3px;
}

.buttons-log,
.buttons-mission {
  background: #2196F3;
}

.btn-mission-title,
.btn {
  display: block;
  margin: 3px auto;  
  padding-top: 6px;
  padding-bottom: 6px;
}

.btn,
.btn-mission-title,
.btn-small {
  font-family: inherit;
  cursor: pointer;
  border: none;
  font-size: 1.2em;  
  background: #BBDEFB;
}

.btn-small {
  margin: 2px 0;
}

.log {
  margin-top: 3px;
  background: #2196F3;
}

.search-log {
  margin: 0 3px 3px 3px;
  padding: 0 3px;
  background: #2196F3;
}

.result {  
  margin: 0 auto;
  background: #BBDEFB;
}

.version-mission,
.version-search {
  margin: auto;
  background: #03A9F4;
}

.form-login,
.form-signup,
.form-profile,
.form-post-mission,
.form-put-mission,
.form-put-post-log,
.form-search {
  text-align: right;
}

.form-login,
.form-signup,
.form-profile,
.form-search {
  color: #FFFFFF;
}

.beginning {
  margin-top: 0;
}

.end {
  margin-bottom: 0;
}

.hidden {
  display: none;
}

.right {
  float: right;
  margin-bottom: 50px;  
}

.left {
  float: left;
}

.clear {
  clear: both;
}

@media only screen and (min-width: 640px) {

  .results {
    width: 640px;
  }

  .right {
    margin-right: 15px;
  }
  
  .left {
    margin-left: 15px;
  }

  nav a {
    font-size: 1.2em;
  }

  h1,
  h2,
  h3,
  p {
    line-height: 1.4em;
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2.2em;
  }

  h3 {
    font-size: 2em;
  }  
}

@media only screen and (min-width: 800px) {

  .results {
    width: 700px;
  }

  nav li {
    margin: 0 3px;
    padding: 9px 18px;
  }

  h1,
  h2,
  h3,
  p {
    line-height: 1.6em;
  }

  h1 {
    font-size: 3.2em;
  }

  h2 {
    font-size: 2.4em;
  }

  h3 {
    font-size: 2.2em;
  } 

  .txt-log-entry {
    width: 305px;
    padding: 5px;
  }

  .search-log {
    padding: 5px;
  }
  
  .buttons-mission,
  .btn-save-mission,
  .version-mission,
  .version-search {
    width: 320px;
  }

  form,
  .result,
  .btn-mission-title,
  .btn {
    width: 326px;
  }

  .btn-mission-title,
  .btn {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

@media only screen and (min-width: 1024px) {

  .results {
    width: 800px;
  }

  h1 {
    font-size: 3.6em;
  }

  label {
    font-size: 1.2em;
  }

  .user-input,
  .select-version,
  .select-os,
  .title,
  .search-text {
    width: 219px;
    font-size: 1em;
  } 
  
  .txt-log-entry {
    width: 355px;
  }
    
  .buttons-mission,
  .btn-save-mission,
  .version-mission,
  .version-search {
    width: 370px;
  }

  form,
  .result,
  .btn-mission-title,
  .btn {
    width: 376px;
  }

  .btn-mission-title,
  .btn {
    padding-top: 9px;
    padding-bottom: 9px;
  }
}

@media only screen and (min-width: 1366px) {

  .results {
    width: 920px;
  }

  nav ul {
    margin: 20px;
  }

  nav li {
    margin: 0 7px;
    padding: 15px 18px;
  }

  nav a {
    font-size: 1.4em;
  }

  h1 {
    font-size: 3.9em;
  }
  
  label {
    font-size: 1.3em;
  }
  
  .user-input,
  .select-version,
  .select-os,
  .title,
  .search-text {
    width: 259px;
  }

  .txt-log-entry {
    width: 415px;
  }
  
  .buttons-mission,
  .btn-save-mission,
  .version-mission,
  .version-search {
    width: 430px;
  }

  form,
  .result,
  .btn-mission-title,
  .btn {
    width: 436px;
  }

  .btn-mission-title,
  .btn {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 1.4em;
  }
}
