@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  box-sizing: border-box;
  min-width: 320px;
  margin: auto;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 0.8em;
  background: #1976D2;
  color: #212121;
}

nav,
h1,
h2,
h3 {
  text-align: center;
  margin: 3px 0;
}

h1,
h2,
h3,
p {
  line-height: 1.2em;
}

h1,
h2,
h3 {
  color: #FFFFFF;
}

h1 {
  margin: 5px 0;
  font-size: 2.6em;
}

h2 {
  margin: 10px 0;
  font-size: 1.8em;
}

h3 {
  font-size: 1.6em;
}

nav ul {
  margin: 15px 0;
}

nav li {
  display: inline;
  padding: 6px 11px;
  background: #BBDEFB;
}

nav a {
  text-decoration: none;
}

a {
  color: #212121;
}

a:hover {
  color: #03A9F4;
}

a:visited {
  color: #1976D2;
}

.links {
  text-align: center;
}

img {
  display: block;
  width: 200px;
  margin: auto;
}

label {
  display: block;
}

form,
.results {
  width: 316px;
  margin: 0 auto;
}

form,
.log {
  text-align: right;
}

.log,
.search-log {
  margin: 0 3px;
  padding: 3px 0;
}

.mission {
  padding: 3px 0;
}

.user-input {
  width: 170px;
  margin: 1px 3px;
  border: none;
}

.select-version,
.select-os,
.title,
.search-text {
  width: 169px;
  margin: 1px 3px;
  border: none;
}

.txt-log-entry {
  display: block;
  margin: 3px;
  width: 304px;
  height: 90px;
  font-family: inherit;
  font-size: 1em;
  border: none;
}

.buttons-mission {
  width: 310px;
  margin: 0 auto;
  padding-bottom: 3px;
}

.buttons-log,
.buttons-mission {
  text-align: center;
  background: #2196F3;
}

.btn-mission-title,
.btn {
  display: block;
  width: 316px;
  margin: 3px auto;  
  padding-top: 6px;
  padding-bottom: 6px;
  font-family: inherit;
  cursor: pointer;
  border: none;
  font-size: 1.2em;  
  background: #BBDEFB;
}

.btn-save-mission {
  width: 310px;
}

.btn-small {
  margin: 2px 0;
  font-family: inherit;
  cursor: pointer;
  border: none;
  font-size: 1.2em;  
  background: #BBDEFB;
}

.log label {
  margin-right: 18%;
}

.log {
  margin-top: 3px;
  background: #2196F3;
}

.search-log {
  margin-top: 3px;
  background: #2196F3;
}

.link,
.result,
.mission {
  background: #BBDEFB;
}

.version-search {
  text-align: center;
}

.form-login,
.form-signup,
.form-profile {
  color: #FFFFFF;
}

.end {
  margin-bottom: 0;
}

.hidden {
  display: none;
}

/** Responsive CSS **/
@media only screen and (min-width: 640px) {
  
}

@media only screen and (min-width: 800px) {

}

@media only screen and (min-width: 1024px) {

}

@media only screen and (min-width: 1366px) {
  
}
