@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  box-sizing: border-box;
  min-width: 320px;
  margin: auto;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 0.8em;  
}

form,
.results {
  width: 320px;
  margin: 0 auto;
}

nav,
header,
h1,
h2,
h3,
.link {
  text-align: center;
  margin: 3px 0;
}

nav ul {
  margin: 15px 0;
}

nav li {
  display: inline;
  padding: 6px 9px;
  border: 1px solid black;
}

nav a {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  line-height: 1.2em;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

label {
  display: inline-block;
}

img {
  display: block;
  width: 200px;
  margin: auto;
}

form,
.log {
  text-align: right;
}

.log,
.search-log {
  margin: 3px 3px;
  padding: 3px 0;
}

.mission {
  padding: 3px 0;
}

label[for=".select-version"],
label[for=".select-os"] {
  margin-left: 30px;
}

.user-input {
  width: 170px;
  margin: 1px 3px;
}
.select-version,
.select-os {
  width: 173px;
}
.title {
  width: 169px;
}

.select-version,
.select-os,
.title {
  margin: 1px 6px 1px 3px;
}

#search-text {
  width: 132px;
}

.txt-log-entry {
  width: 309px;
  height: 90px;
  margin: 3px 0;
  font-family: inherit;
  font-size: 1em;
}

.buttons-log {
 padding-bottom: 2px;
}

.buttons-mission,
.buttons-log {
  text-align: center; 
}

.btn-mission-title {
  display: block;
  width: 320px;
  padding-top: 6px;
  padding-bottom: 6px;
  /* text-transform: uppercase; */
}

#btn-delete-profile {
  display: block;
  margin: 3px auto;
  font-family: inherit;
}

/* #btn-delete-profile, */
#btn-login,
#btn-signup,
#btn-new-mission,
#btn-search,
#btn-profile {
  display: block;
  width: 320px;
  margin: 3px auto;  
  padding-top: 6px;
  padding-bottom: 6px;
  font-family: inherit;
}

.hidden {
  display: none;
}

body,
.log,
.search-log {
  background: #c0c0c0;
}

li,
.result {
  background: #e8e8e8;
}
