body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em; 
} 

nav,
header,
h2 {
  text-align: center;
  margin: 5px 0;
}

h1,
h2,
h3,
h4,
p {
  line-height: 1.2em;
}

form,
.results {
  max-width: 320px;
  margin: auto;  
}

form {
  text-align: right;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.3em;
}

nav li {
  display: inline;
  padding: 0 5px;
  border: 1px solid black;
}

nav a {
  text-decoration: none;
}

label {
  display: inline-block;
}

img {
  display: block;
  width: 90%;
  margin: auto;
}

select {
  width: 174px;
}

input[type="text"],
input[type="password"] {
  width: 170px;
}

input[type="submit"] {
  display: block;
  margin: 5px auto;
}
