@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  box-sizing: border-box;
  min-width: 320px;
  margin: auto;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 0.8em;
  color: #212121;
}

fieldset {
  color: #FFFFFF;
}
form,
.results {
  width: 316px;
  margin: 0 auto;
}

nav,
header,
h1,
h2,
h3 {
  text-align: center;
  margin: 3px 0;
}

h1,
h2,
h3 {
  color: #FFFFFF;
}

.link {
  text-align: center;
}

nav ul {
  margin: 15px 0;
}

nav li {
  display: inline;
  padding: 6px 11px;
  background: #BBDEFB;
}

nav a {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  line-height: 1.2em;
}

h1 {
  font-size: 2.6em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.6em;
}

label {
  display: inline-block;
}

img {
  display: block;
  width: 200px;
  margin: auto;
}

form,
.log {
  text-align: right;
}

.log,
.search-log {
  margin: 3px 3px;
  padding: 3px 0;
}

.mission {
  padding: 3px 0;
}

label[for=".select-version"],
label[for=".select-os"] {
  margin-left: 30px;
}

.user-input {
  width: 170px;
  margin: 1px 3px;
  border: none;
}

.select-version,
.select-os,
.title,
.search-text {
  width: 169px;
  margin: 1px 6px 1px 3px;
  border: none;
}

.txt-log-entry {
  display: block;
  margin: 3px auto;
  width: 298px;
  height: 90px;
  font-family: inherit;
  font-size: 1em;
}

.buttons-log {
 padding-bottom: 2px;
}

.buttons-mission,
.buttons-log {
  text-align: center;
}

.btn-mission-title,
.btn {
  display: block;
  width: 316px;
  margin: 3px auto;  
  padding-top: 6px;
  padding-bottom: 6px;
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: #BBDEFB;
}

.end {
  margin-bottom: 0;
}

.btn-small {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: #BBDEFB;
}

.hidden {
  display: none;
}

.log,
.search-log {
  background: #2196F3;
  /* background: #BBDEFB; */
  color: #FFFFFF;
}

body {
  background: #1976D2;
}

.link,
.result,
.mission {
  background: #BBDEFB;
  /* background: #2196F3; */
}

/** Responsive CSS **/
@media only screen and (min-width: 640px) {
  
}

@media only screen and (min-width: 800px) {

}

@media only screen and (min-width: 1024px) {

}

@media only screen and (min-width: 1366px) {
  
}
